In [18]:
import pandas as pd

In [23]:
from sqlalchemy import create_engine

In [44]:
df = pd.read_csv("green_tripdata_2019-10.csv.gz", low_memory=False)

In [45]:
len(df)

476386

In [46]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [47]:
df = df.drop(columns=["store_and_fwd_flag"])

In [48]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")

In [49]:
print(engine)

Engine(postgresql://postgres:***@localhost:5433/ny_taxi)

In [50]:
df.to_sql("green_taxi_data", engine, if_exists="replace", index=False)

386

In [37]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")

In [38]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [39]:
print(df_zones)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [43]:
df_zones.to_sql("taxi_zone_lookup", engine, if_exists="replace", index=False)

265

In [42]:
len(df_zones)

265

In [51]:
df = pd.read_csv("green_tripdata_2019-10.csv.gz", nrows =100)

In [52]:
print(df)

    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0          2  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1          1  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2          1  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
3          1  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
4          2  2019-10-01 00:08:13   2019-10-01 00:17:56                  N
..       ...                  ...                   ...                ...
95         2  2019-10-01 00:02:53   2019-10-01 00:14:32                  N
96         2  2019-10-01 00:18:45   2019-10-01 00:29:23                  N
97         2  2019-10-01 00:41:32   2019-10-01 00:52:51                  N
98         2  2019-10-01 00:36:54   2019-10-01 00:54:20                  N
99         2  2019-10-01 00:21:27   2019-10-01 00:26:59                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0            1           112           196                1           5.88
1            1            43           263                1           0.80
2            1           255           228                2           7.50
3            1           181           181                1           0.90
4            1            97           188                1           2.52
..         ...           ...           ...              ...            ...
95           1           126            74                1           3.10
96           1            42            74                1           1.64
97           1            75            42                1           3.17
98           1            92           179                1           5.48
99           1           129           129                1           1.02

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          18.0   0.50      0.5        0.00           0.0        NaN
1           5.0   3.25      0.5        0.00           0.0        NaN
2          21.5   0.50      0.5        0.00           0.0        NaN
3           5.5   0.50      0.5        0.00           0.0        NaN
4          10.0   0.50      0.5        2.26           0.0        NaN
..          ...    ...      ...         ...           ...        ...
95         12.0   0.50      0.5        0.00           0.0        NaN
96          9.5   0.50      0.5        0.00           0.0        NaN
97         11.5   0.50      0.5        1.50           0.0        NaN
98         19.5   0.50      0.5        0.00           0.0        NaN
99          6.0   0.50      0.5        0.00           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
0                     0.3         19.30             2          1
1                     0.3          9.05             2          1
2                     0.3         22.80             2          1
3                     0.3          6.80             2          1
4                     0.3         13.56             1          1
..                    ...           ...           ...        ...
95                    0.3         13.30             1          1
96                    0.3         10.80             2          1
97                    0.3         14.30             1          1
98                    0.3         20.80             2          1
99                    0.3          7.30             2          1

    congestion_surcharge
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
95                   0.0
96                   0.0
97                   0.0
98                   0.0
99                   0.0

[100 rows x 20 columns]